.nav_bar{
    background-color: nth($color, 3);
    font-size: nth($size, 2);

}

.navbar-brand {
    color: whitesmoke;
    font-size: nth($size , 3);
}

.menu_item {
    text-decoration: none;
    color: nth($color , 2);
    @extend %orden;    
  }

  .navbar-nav {
    @extend %orden;
  }


    



